mysql = {
            'host': 'localhost',
            'user': 'itc',
            'password': 'PASSWORD',
            'database': 'vgdb',
            'auth_plugin': 'mysql_native_password'}

url = { 'base_url': 'https://medicalsciences.stackexchange.com/',
        'tags': "https://medicalsciences.stackexchange.com/tags?page=",
        'questions': "https://medicalsciences.stackexchange.com/questions?tab=newest&page="}

api = {
            "key": "api_keyqq",
            "base_url": "https://api.nytimes.com/svc/search/v2/articlesearch.json?q=" }

logger = {
            "file_path": "./logs/vigilant_goggles",
            "logfile_location": "./logs"}
