mysql = {
            'host': 'localhost',
            'user': 'itc',
            'password': 'password',
            'database': 'vgdb',
            'auth_plugin': 'mysql_native_password'}
url = {
            'base_url': 'https://medicalsciences.stackexchange.com/',
            'tag': 'tags?page=',
            'question_summary': 'questions?tab=newest&page='}

api = {
            "key": "api_key",
            "base_url": "https://api.nytimes.com/svc/search/v2/articlesearch.json?q=" }

similarity = {
            "api_key": "api_key",
            "url" : "https://apis.paralleldots.com/v4/similarity" }